*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
}

.parent{
    display: flex;
}

.sidebar{
    width: 20%;
    height: 100%;
    position: fixed;
    background: rgb(0, 140, 255);
}

.sidebar-pos{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.img-sidebar{
    text-align: center;
}

.img-sidebar img{
    width: 80%;
    border: 8px solid rgb(46, 76, 248);
    border-radius: 50%;
}

.menu{
    margin: 20px 0;
    text-align: center;
}

.menu a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    transition: 1s;
}

.menu a:hover{
    color: black;
}

.content{
    position: absolute;
    left: 20%;
    width: 80%;
    height: 100%;
    overflow-y: auto;
    padding: 0 3%;
}

section.descricao{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

section.descricao h2{
    color: black;
    font-size: 45px;
}

section.descricao h2 > span{
    color: rgb(0, 140, 255);
}

section.descricao h3{
    font-size: 26px;
    margin: 20px 0;
    color: rgb(114, 113, 113);
}

section.descricao p{
    color: rgb(114, 113, 113);
    font-size: 20px;
    margin-top: 40px;
}

.icons{
    margin-top: 20px;
}

.icons a{
    text-decoration: none;
    color: rgb(114, 113, 113);
    font-size: 25px;
    display: inline-block;
    margin: 0 10px;
    transition: 1s;
}

.icons a:hover{
    color: rgb(0, 140, 255);
}

.typedtext {
    margin-top: 20%;
    border-right: 2px solid black;
    animation: blinkTextCursor 800ms steps(44) infinite normal;
    height: 40px;
    margin-bottom: 55px;
    color: #000;
    display: block;
}
  
@keyframes blinkTextCursor {
    from {
      border-right-color: white;
    }
    to {
      border-right-color: transparent;
    }
}